<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Laurent Binder</title>
  <!--   <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %> -->
    <link rel="stylesheet" href="pagestyle.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- navbar -->
    <div id="navbar">
      <div class="navbar navbar-expand-sm navbar-light navbar-portfolio">


        <!-- center -->
        <div class="center-logo">
          <div id="mvlt">
            <div class="moving-letters flex-start" type="submit">
              <!-- <a href="#"> -->
                <h1>
                  <span class="text-wrapper">
                    <span class="letters">Laurent Binder</span>
                  </span>
                </h1>
              <!-- </a> -->
            </div>

          </div>

<!-- script moving-letters -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        </div>

        <!-- right links---------------- -->
        <!-- burger to x -->
        <div class="right-navbar burger-to-X">
          <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
          <ul id="menu">
            <li class="nav-item"><a href="#about-me">Info</a></li>
            <li class="nav-item"><a href="#portfolio">Projets</a></li>
            <li class="nav-item"><a href="mailto:laurentbinder@gmail.com" target="_blank"><i class="far fa-envelope envelope "></i></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->
    <div id="ban" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515643395264-3f8c19a2dc77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=180);">
      <div class="container-banner-title">
        <div id="banner-logo">
          <div id="mvlt">
            <div class="moving-letters flex-start" type="submit">
              <h1>
                <span class="text-wrapper">
                  <span class="letters">Laurent Binder</span>
                </span>
              </h1>
            </div>
          </div>
        </div>
        <h1>Full-Stack Web Developer</h1>
        <p>Création de sites Web <span id="dev"></span></p>
        <script src="https://unpkg.com/ityped@1.0.2"></script>
        <a class="about-me" href="#about-me"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>

    <div class="">
      <!-- about-me -->
      <div id="about-me" class="container pb-5">
        <div class="title-line"><h3>A propos</h3></div>
        <div class="text">
          <p>Après avoir obtenu mon diplôme d’ingénieur du son à l'école Scaenica à Montpellier, je suis rentré dans un grand studio Parisien, le studio Ferber à Paris, en 2000.</p>

          <p>Très vite on m'a confié des projets de grandes envergures pour Universal, Barclay ou Sony... avec des artistes de renommées comme Benjamin Biolay, Raphaël...</p>

          <p>Après 8 ans au studio Ferber, j'ai décidé d'être à mon compte pour continuer à évoluer et être d'avantage maître de mes projets (Zaz, Charlie Winston, Carla Bruni...).</p>
          <p>Comme vous le savez, l'industrie du disque est en plein changement. C'est pour cette raison que je me suis réorienté grâce à l'école Le Wagon - Paris en 2020 pour devenir Full stack dévelopeur et ainsi participer au changement numérique.</p>

          <p>Je suis volontaire, calme et dynamique. J'aime travailler en équipe et être autonome. J'aime coder et j'aime la montagne !</p>
        </div>
      </div>
      <!-- what I do -->
      <div id="what-i-do" class="container pb-5">
          <div class="title-line"><h3>Mes techniques</h3></div>
          <p>Ma stack technique inclut Ruby on Rails, React.js, HTML5, CSS, SQL Databases, et le CMS Wordpess. Retrouvez moi sur <a href="https://github.com/Lo1176" target="_blank">GitHub</a> ou envoyez moi un <a href="mailto:laurentbinder@gmail.com" target="_blank">mail</a> pour me présenter vos projets</p>
          <ul class="icons-grid py-5">
            <li>
              <span class="fas fa-laptop"></span>
              <p>Design Web Responsive</p>
            </li>
            <li>
              <span class="fas fa-code"></span>
              <p>Back-end Développeur</p>
            </li>
            <li>
              <span class="fas fa-code-branch"></span>
              <p>DevOps</p>
            </li>
            <li>
              <span class="fas fa-palette"></span>
              <p>Front-end Développeur</p>
            </li>
          </ul>
      </div>
      <!-- portfolio -->
      <div id="portfolio">
        <div class="card-area mt-5">
          <div class="container">
            <div class="title-line"><h3>Projets</h3></div>
          </div>
          <div class="container-portfolio pb-5">
           <!-- sarah fx -->
            <a href="https://www.proximart.site/" target="_blank">
              <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
                <img src="images/img-c.png" alt="Art image">
                <figcaption>
                  <h2><span>Proximart</span></h2>
                  <p>Trouvez une exposition près de chez vous</p>
                </figcaption>
              </figure>
            </a>

            <a href="http://kiddo-hatha-website.herokuapp.com/" target="_blank">
              <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
                <img src="images/img-b.png" alt="Yoga image">
                <figcaption>
                  <h2>Yoga <span>Hatha</span></h2>
                  <p>Un site web pour enseigner le Yoga</p>
                </figcaption>
              </figure>
            </a>

            <a href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank">
              <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
                <img src="images/img-a.png" alt="Cocktail image">
                <figcaption>
                  <h2>Pimp my <span>Cocktails</span></h2>
                  <p>Save and customise your coktails</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/laurentbinder/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/laurent-binder/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Lo1176" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/laurent-binder/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:laurentbinder@gmail.com" target="_blank"><i class="fa fa-envelope envelope"></i></a>
      </div>
      <div class="footer-link-credit">
        <a href="https://www.linkedin.com/in/laurent-binder/" target="_blank">
          <div class="footer-copyright large-devise">
            This Website is made with <i class="fas fa-heart"></i> by Lo
          </div>
          <div class="footer-copyright small-devise">
            made by Lo
          </div>
        </a>
      </div>
    </div>

    <div class="scroll-caret-up">
      <a href="#">
      <i class="scrollup fas fa-chevron-circle-up shadow-5"></i>
      </a>
    </div>

    <script src="javascript/packs/application.js" type="text/javascript"></script>
  </body>
</html>
