/* colors */
/*// web site colors:*/
$royal-blue: #964FAB;
$dark-blue: #0353A4;
$darkest-blue: #021C45;
$star-blue: #007AB2;
$light-blue: #C4E3FF;
$violet: #773f88;

/*// basics:*/
$red: #FD1015;
$blue: $royal-blue;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #f54785;



/*about me*/
#about-me {
  text-align: center;
    .svg-inline--fa {
      color: $white;
      margin: 16px;
      font-size: 80px;
      opacity: 0.6;
    }
    .text p {
      letter-spacing: 1px;

    }
}

/*banner*/
.banner {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 200px 0;
  margin-bottom: 56px;
  text-align: center;
  height: 80vh;
    .about-me .fa-chevron-down {
      opacity: 0.5;
      color: $pink;
      font-size: 48px;
      /*
      // transform: rotate(90deg);
      // Safari
      // -webkit-transform: rotate(90deg);

      // Firefox
      // -moz-transform: rotate(90deg);
      */
    }
    .about-me .fa-chevron-down:hover {
      opacity: 1;
    }
}

.banner h1 {
  margin-bottom: 16px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: $banner-font;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  letter-spacing: 4px;
}

#dev {
  /*// color: $pink;
  // opacity: 1;*/
}

.banner a {
  color: $light-blue;
    &:hover {
      color: $white;
    }
}

.container-banner-title {
  height: 10vh;
  letter-spacing: 8px;
}

/*burger-to-x*/
.nav-icon {
  margin: 0;
  width: 32px;
  // height: 32px;
  margin-right: 10px;
    .burger-menu {
      margin-right: 10px !important;
    }

}

.nav-icon:after,
.nav-icon:before,
.nav-icon .burger-menu {
  background-color: $darkest-blue;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 10px 0;
  transition: all .2s ease-in-out;
  // margin-right: 10px;
}

.show .nav-icon:before {
  transform: translateY(12px) rotate(135deg);
}

.show .nav-icon:after {
  transform: translateY(-12px) rotate(-135deg);
}

.show .nav-icon div {
  transform: scale(0);
}

.burger-to-X {
    .list-group-item:first-child {
      border: none;
    }
    .list-group-item {
      padding: 0;
      background-color: $white;
    }
    button:focus {
      outline: none;
    }
    .btn-group, .btn-group-vertical {
      vertical-align: baseline;
      display: contents;
    }
    .dropdown-item {
      padding: 16px;
    }

    .dropdown-menu.show{
      display: grid;
      justify-content: center;
      padding: 16px;
      // text-align: center;
      width: 100%;
      border: none;
      top: auto;
      background-color: #fffdff;

    }
    a {
    // padding-bottom: 20px;
      color: $darkest-blue;
      // opacity: 0.6 !important;
      font-weight: 500;

        &:hover {
          color: $darkest-blue !important;
          // opacity: 1 !important;
          text-decoration: none;
          border-bottom: solid;
          transition-duration: 0.2s;
          transition: all .1s ease-in-out;
        }

    }
}

/*button navbar*/
.navbar-light .navbar-nav {
    .nav-button {
      background: none;
      background: rgba(0,0,0,0.03);
      display: inline-block;
      position: relative;
      border: none;
      cursor: pointer;
      margin: 0 16px;
        span::before, span::after{
          content:"";
          width:2px;
          height:0;
          position: absolute;
          transition: all 0.2s linear;
          background: $darkest-blue;
        }
    }

    .nav-button::before, .nav-button::after{
      content:"";
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: $darkest-blue;
    }

    .nav-button:hover::before, .nav-button:hover::after{
      width: 100%; /*// always there*/
      left: 0;
    }
    .nav-button:hover span::before, .nav-button:hover span::after{
      height: 100%; /* // always there*/
      top: 0;
    }

    .nav-button::before{
      left: 0;
      top: 0;
      transition-duration: 0.3s;
    }
    .nav-button::after{
      right: 0;
      bottom: 0;
      transition-duration: 0.3s;
    }

    .nav-button span::before{
      left: 0;
      top: 0;
      transition-duration: 0.3s;
    }
    .nav-button span::after{
      right: 0;
      bottom: 0;
      transition-duration: 0.3s;
    }

}

.navbar-light .navbar-nav .nav-link {
  color: $darkest-blue;
  opacity: 0.6;
  padding: 8px 16px;
  text-align: center;
  width: 82px;
  height: 40px;


    &:hover {
      color: $darkest-blue;
      opacity: 1;
    }

}

.navbar-light a {
  text-align: center;
  width: 82px;
  height: 40px;
  color: $darkest-blue;
  opacity: 0.9;
  padding: 8px 16px;
    &:hover {
      color: $white;
      opacity: 1;
    }
}

/*card area*/
.card-area {
  margin-bottom: 32px;
}

/*card portfolio*/
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 12px;


    .card-portfolio {
      min-width: auto;
      min-height: 320px;
      max-width: 420px;
      margin: 8px;
      color: $light-gray;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      display: grid;
      text-align: center;
      align-items: center;
      transition: 0.3s;
        h4 {
          font-size: 24px;
          margin-bottom: 16px;
          margin-top: 4px;
        }
        p {
          font-size: 16px;
        }
      }

      .portfolio-end p {
        margin-bottom: 4px;
      }

      .img-a {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-a.png");

      }

      .img-b {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-b.png");
      }

      .img-c {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url("img-c.png");
      }

      .card-img {
        background-size: cover;
        background-position: center;
      }

      .card-img:hover {
        background-position: inherit;
      }

}


#show-details {
  text-align: left;
  padding: 0 32px;
    h2 {
      word-spacing: -0.15em;
      text-transform: capitalize;
      font-weight: 300;
      border-bottom: solid 3px white;
      padding: 8px 0;
    }
    h2 span {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
    }
    .details p {
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(100%,0,0);
      padding: 1em 0;
      letter-spacing: 1px;
      font-size: 68.5%;
      text-transform: uppercase;

      h2, p {
        margin: 0;
      }
}

}

#show-details:hover {
    .details p {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
}

/*details letters*/
.details-letters {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.details-letters .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 1;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  padding: 0px 16px;
  color:  red;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $light-gray;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: $white;
}

.footer-copyright {
  margin-right: 2vw;
    .fa-heart {
      color: $red;
    }
}

.footer-link-credit a {
  color: rgba(244, 244, 244, 0.3);
  opacity: 0.15;
  text-decoration: none;
    &:hover {
      opacity: 1;
      color: rgba(255,255,255,0.7);
    }
}

/*---------------itype--------------*/
/* Cursor */
.ityped-cursor {
  color: $white;
  font-size: 20px;
  opacity: 0.9;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
/*---------------itype--------------*/

/*letterfx*/
.letterfx-myfx-container{
  overflow:hidden;
}

.letterfx-myfx-container .letterfx{
  position:relative;
}

.letterfx-myfx-before{
  left:0;
}

.letterfx-myfx-after{
  left:10px;
}

/*line separation*/
.title-line {
    width: 100%;
    margin: 4vh 0vw;
    text-align: center;
    font-size: 28px;
    position: relative;
    background-color: $darkest-blue;
      h3 {
          background-color: $body-bg; /* Same as the parents Background */
          width: auto;
          display: inline-block;
          z-index: 3;
          padding: 0 20px;
          color: $light-gray;
          position: relative;
          font-family: raleway;
          font-weight: lighter;
          margin: 0;
          letter-spacing: 4px;
      }

}

.title-line:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    right: 6vw;
    left: 6vw;
    z-index: 1;
    background: $light-gray;
}
